* {
  box-sizing: border-box;
}
/*////////////////////////////////////////////////////////////Nav/////////////////////////////////////////////////*/
#logo {
  display: inline-block;
  width: 12%;
  float: left;
  padding: 20px 15px 0px 44px;
}

#logo h1 {
  margin-bottom: 0px;
}

#enterMessage {
  width: 62%;
  margin: 49px 30px 0px 20px;
  display: block;
  float: left;
}

#clearBoard {
  margin: 49px 0px 0px 0px;
}

#userList {
padding:20px 0px 0px 0px;
margin-left:190px;
}

#options {
  margin:20px 0px;
  width: 400px;
  margin-left: 300px;
}

#options p {
  display: inline;
  padding-right: 25px;
}

/*//////////////////////////////////////////////////////Message Board/////////////////////////////////////////////////*/


#messages {
  width: 75%;
  min-height: 500px;
  border: 1px black solid;
  margin-left: 157px;
  padding: 25px;
  list-style: none;
}

.chatText {
  display: inline-block;
  margin: 2.5%;
}

.chatBlock button {
  display: inline-block;
}

/*//////////////////////////////////////////////////////Footer///////////////////////////////////////////////////////*/

#footer {
  margin: 20px 0px;
}

#footer p {
  text-align: center;
}



/*/THIS IS THE CSS FOR LARGE TEXT THINGIE*/
.makeLarge {
  font-size: 2em;
}

/*/CSS FOR DARK THEME*/

.makeDark a {
  color: white;
}

.makeDark {
  background-color: #3B3C3B;
  color: #EE1433;
  border: 1px solid white;
}
