* {
  box-sizing: border-box;
}
/*////////////////////////////////////////////////////////////Nav/////////////////////////////////////////////////*/
#logo {
  display: inline-block;
}

#logo h1 {
  display: inline-block;
  width: 20%;
  margin: 2.5%;
}

#enterMessage {
display: inline-block;
  width: 40%;
  margin: 2.5%;
}

#clearBoard {
  display: inline-block;
  margin: 2.5%;
  width: 20%;
}

#options {
  margin:20px 0px;
  width: 400px;
  margin-left: 300px;
}

#options p {
  display: inline;
  padding-right: 25px;
}

/*//////////////////////////////////////////////////////Message Board/////////////////////////////////////////////////*/


#messages {
  width: 75%;
  min-height: 500px;
  border: 1px black solid;
  margin-left: 157px;
  padding: 25px;
  list-style: none;
}

.chatText{
  display: inline-block;
  margin: 2.5%;
}

.chatBlock button {
  display: inline-block;
}

/*//////////////////////////////////////////////////////Footer///////////////////////////////////////////////////////*/

#footer {
  margin: 20px 0px;
}

#footer p {
  text-align: center;
}
//THIS IS THE CSS FOR LARGE TEXT THINGIE
.makeLarge {
  font-size: 2em;
}

//CSS FOR DARK THEME

.makeDark a {
  color: white;
}

.makeDark {
  background-color: #3B3C3B;
  color: #EE1433;
  border: 1px solid white;
}
